@tailwind base;
@tailwind components;
@tailwind utilities;

.noScrollbar::-webkit-scrollbar {
  width: 0px;
}

body {
  min-height: 100vh;
  background-color: "bg-gradient-to-br from-blue-shade-400 to-blue-shade-300";
  color: #ffffff;
}

.maskAvatar {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 5rem;
}
